@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Herpderpstreet 22<br />
    Odense, C 5100<br />
    <abbr title="Phone">P:</abbr>
    99 99 99 66
</address>

<address>
    <strong>Email contact:</strong> <a href="mailto:admur13@studnet.sdu.dk">admur13@studnet.sdu.dk</a><br />

</address>
