
@model IEnumerable<ImageModel>

@{
    ViewData["Title"] = "Gallery";     
}

<h2>@ViewData["Title"].</h2>

<!-- http://stackoverflow.com/questions/17952514/mvc-how-to-display-a-byte-array-image-from-model -->
<div>
    @foreach (var images in Model)
    {
        
    }

</div>